---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("kb");
  return pages.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

import Layout from '../../layout2.astro';

---

<style lang="scss">

.tags {
  display: flex;
  flex-direction: row;
  gap: .5em;
}

</style>

<Layout>
  <h1>KB: {entry.data.title}</h1>
  <div>
    {entry.data.tags?.length && <div class="tags">
      <span>Tags:</span>
      {entry.data.tags.map(tag => <span class="tag">{tag}</span>)}
    </div>}
  </div>
  <Content></Content>
</Layout>
