---
import { getCollection } from 'astro:content';
const pages = await getCollection('kb');
import Layout from '../../layout2.astro';

---

<Layout>

    <ul>
      {pages.map(page => (
        <li>
          <a href={`${import.meta.env.BASE_URL}/kb/${page.slug}`}>{page.data.title}</a>
        </li>
      ))}
    </ul>
    
</Layout>
